<table class="highlight">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Matrícula</th>
        <th>Setor</th>
        <th>Data</th>
        <th>Observação</th>
    </tr>
    </thead>

    <tbody>   
        {{#each adaptador}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.nome}}</td>
            <td>{{this.matricula}}</td>
            <td>{{this.setor}}</td>
            <td>{{this.data}}</td>
            <td>{{this.observacao}}</td>
            <td>
                <a class="waves-effect waves-light btn-small blue lighten-1" href="/adaptador/show/{{this.id}}">
                    <i class="Small material-icons">edit</i>
                </a>
            </td>
            <td>
                <form action="/adaptador/delete/{{this.id}}" method="post">
                    {{!-- <input type="hidden" name="_method" value="delete"> --}}
                    <button type="submit" class="waves-effect waves-light red accent-4 btn">
                          <i class="Small material-icons">delete</i>
                    </button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tr>
    </tbody>
</table>