<div class="row">
    <div class="col s12">
      <div class="card grey lighten-5">
        <div class="card-content center-align">
            <span class="card-title">Controle de Adaptadores e cabos VGA</span>
            <table class="highlight responsive-table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Matrícula</th>
                    <th>Setor</th>
                    <th>Data</th>
                    <th>Observação</th>
                    <th>Editar</th>
                    <th>Excluir</th>
                    <th>Detalhar</th>
                </tr>
                </thead>
                <tbody>   
                    {{#each adaptador}}
                    <tr>
                        <td>{{this.id}}</td>
                        <td>{{this.nome}}</td>
                        <td>{{this.matricula}}</td>
                        <td>{{this.setor}}</td>
                        <td>{{this.data}}</td>
                        <td>{{this.observacao}}</td>
                        <td>
                            <a class="waves-effect waves-light btn-small blue lighten-1" href="/adaptador/{{this.id}}">
                                <i class=" material-icons">edit</i>
                            </a>
                        </td>
                        <td>
                            <a class="waves-effect waves-light modal-trigger btn-small red accent-4" href="#modal{{this.id}}">
                                <i class=" material-icons">delete</i>
                            </a>
                        </td>
                        <td>
                            <a class="waves-effect waves-light modal-trigger btn-small green accent-4" href="#">
                                <i class=" material-icons">done</i>
                            </a>
                        </td>
                    </tr>
                    {{/each}}
                </tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>